.page-wrp {
  display: flex;
  margin: auto;
  height: 90vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonsWrapper {
  display: flex;
  margin: 20px 0;

  button:first-of-type {
    margin-right: 20px;
  }
}
