.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    padding: 0 16px;
    background-color: #3b3b3b;
    color: #ffffff;
    box-shadow: 0 2px #eaeaea;
}